.monospaced {
  -fx-font-family: 'Consolas', 'Ubuntu Mono', 'Monospace', 'monospaced' !important;
}

.italic {
  -fx-font-style: italic;
}

.bold {
  -fx-font-weight: bold;
}

.red {
  -fx-font-color: red;
  -fx-color: red;
}
